*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #B4B4B4;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body { background: #282c34; color: #B4B4B4; }
}


#root {
  height: 100vh;
  overflow: hidden;
  color-scheme: dark;
  background-color: #282c34;
  backdrop-filter: blur(7px);
  /* box-shadow: inset 0 0 2000px rgba(22, 22, 22, 0.288); */
  border-radius: 9px;
  border: 1px solid #abb2bf1c;
}

.ͼ1 .cm-scroller, code {
  font-family: sourc-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4248539a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c434ed7;
}
